.np-title {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 18px;
    color: rgb(0, 64, 255);
  }
  .auto-search-container {
    background: #ffffff;
    width: 100%;
    margin-top: 30px;
    z-index: 9999;
    font-size: 24px;
    height: 44px;
    padding: 0px 14px;
  }
  .np-input-search {
    width: 100%;
    height: 50px;
    padding: 12px 28px;
    background: #eee;
    font-size: 18px;
    border: 1px solid #eee;
    border-radius: 32px;
    transition: all 0.3s;
    outline: none;
  }
  .np-input-search:hover {
    background: rgb(225, 225, 225);
    transition: all 0.4s;
  }
  .np-result-container {
    margin-top: 30px;
    margin-left: 18px;
    text-align: left;
  }
  .np-result-item {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 12px 14px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .np-result-item:hover {
    background: #eee;
    transition: all 0.3s;
  }
  .np-result-description {
    font-size: 11px;
  }
  .np-ib {
    display: inline-block;
  }
  .np-avatar {
    height: 50px;
    border-radius: 12px;
  }
  .np-text-container {
    width: 180px;
    vertical-align: top;
    padding-left: 20px;
  }
  .np-details {
    vertical-align: top;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-top: 30px;
    padding: 12px 14px;
    /* height: 400px; */
  }
  .np-result-details-img {
    border-radius: 12px;
    height: 100px;
  }
  .np-result-details-title {
    font-size: 20px;
    padding: 8px 0px;
    font-weight: 500;
  }
  .np-result-details-description {
    font-size: 16px;
  }